* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
  }
  
  body{
    min-height: 100vh;
    min-width: 100vw;
    padding: 20px;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  }

  a {
    text-decoration: underline;
    font-style: italic;
  }

  .container{
    padding: 30px;  
  }

  .Introduction{
    display: flex;
    justify-content: center;
  }

  .title{
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 30px;
  }
  
  h1{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
  }

  p{
    font-size: 16px;
    margin-top: 5px;
    text-indent: 30px;
    text-align: justify;
    color: whitesmoke;
  }

  .real{
  width: 35%;
  height: 400px;
  border-radius: 20px;
  }
  .compilation p {
    text-align: center;
  }
  